<div class="pb-16 h-128 text-center">
    <img class="object-cover h-128 w-full" src="https://images.unsplash.com/photo-1563310196-7a70318202a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="">
</div>
<div id="profili" class="max-w-7xl mx-auto py-12 px-8">
    {{ collection:profili sort="date_field:desc" }}
    <div class="grid grid-cols-2 gap-8 py-20">
        <div class="col-span-1">
            <h2 class="text-3xl font-bold text-gray-600 mb-4">{{ title }}</h2>
            {{ intro }}
            <br><br>
            {{ content }}
        </div>
        <div class="col-span-1">
            {{ responsive:image class="group-hover:opacity-100 transition-all w-full bg-cover duration-300 mb-2" }}
        </div>
    </div>
    {{ /collection:profili }}
</div>
