<div class="pb-16 h-128 text-center">
    <img class="object-cover h-128 w-full" src="https://www.salamander-windows.com/neos/image/default/2eafd83b-3062-49c7-a9f3-914530afd66a/1588147215" alt="">
</div>

<div class="max-w-3xl mx-auto py-20 px-8 text-xl font-light text-center">

    <h2 class="text-3xl font-bold text-gray-600 mb-4">PVC okna</h2>
    {{ content }}
    <img class="mt-12" src="/img/profili.png" alt=""> <section class="mt-12 grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-8">
        {{ assets:gallery }}
        {{ responsive:url class="glightbox rounded-md" data-gallery="gallery" data-glightbox=""  }}
        {{ /assets:gallery }}
        </section>
    </div>
    {{ section:scripts }}
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <script type="text/javascript">
      const lightbox = GLightbox();
    </script>
    {{ /section:scripts }}
